@import url('https://fonts.googleapis.com/css?family=Khula&display=swap');

* {
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: 'Khula', sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  text-align: center;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #91e316;
}

.start {
  font-size: 1.5rem;
  border-radius: 10px;
  padding: 0.8rem 2.2rem 0.6rem 2.2rem;
  font-weight: 500;
  border: 2px solid #C0C0C0;
  border-radius: 10px;
}

.start:hover {
  color: #91e316;
  border-color: #91e316;
}

h1 {
  line-height: 1.4;
  font-size: 4rem;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  transition: margin 0.5s ease-out;
  background: linear-gradient(45deg, #2628be 0%, #bd4a4a 150%);
}

.screen.up {
  margin-top: -100vh;
}

.time-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.time-list li {
  margin: 10px;
}

.time-btn {
  background-color: transparent;
  border: 2px solid #C0C0C0;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  padding: .7rem 1rem 0.5rem 1rem;
  font-size: 1.5rem;
}

.time-btn:hover {
  border: 2px solid #91e316;
  color: #91e316;
}

.hide {
  opacity: 0;
}

.danger {
  color: red;
}

.primary {
  color: #91e316;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  width: 500px;
  height: 500px;
  background: linear-gradient(118.38deg, #29323C -4.6%, #485563 200.44%);
  box-shadow: 0px 0px 20px 0px #2a333d;
  border-radius: 30px;
  overflow: hidden;
}

.circle {
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
}

.restart {
  background-color: transparent;
  border: 2px solid #C0C0C0;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  padding: .7rem 1rem 0.5rem 1rem;
  font-size: 1.5rem;
}

.restart:hover {
  border: 2px solid #91e316;
  color: #91e316;
}

.aim_icon {
  width: 100px;
  height: 100px;
}
